<h1 class="mt-5">Additional Helpful Links</h1>

<p>There are quite a few guides and calculators laying around that are very helpful to new players. Special thanks to
    CenturyV08 and Izerous for their work on these!</p>

<h2>Calculators</h2>

<ul>
    <li>
        <a target="_blank" href="https://codepen.io/Izerous/full/WzGEPm">
            Ancient Wisdoms, Skills, Levels, & More - Izerous
        </a>
    </li>
</ul>

<h2>Guides</h2>

<ul>
    <li>
        <a target="_blank" href="https://codepen.io/Izerous/full/JBJzer">Basic FAQ - Izerous</a>
    </li>
    <li>
        <a target="_blank" href="https://www.kongregate.com/forums/615157-idle-raiders-second-run/topics/726929-raid-guide-for-new-players?page=1#posts-11134184">Raid Guide For New Players (T1-T7) - Hermeus</a>
    </li>
    <li>
        <a target="_blank" href="https://www.kongregate.com/forums/615157-idle-raiders-second-run/topics/960183-centurys-raid-guide-for-not-so-new-players-t6">Century's
            Raid Guide for Not-So-New Players (T6+) - CenturyV08</a>
    </li>
    <li>
        <a target="_blank" href="https://www.kongregate.com/forums/615157-idle-raiders-second-run/topics/1666241-brethjs-t14-1-setup-wair-65-raider-level-35">Brethj's
            T14-1 Setup (WAIR 65/Raider Level 35) - Brehj</a>
    </li>
</ul>

<h2>Misc.</h2>

<ul>
    <li>
        <a target="_blank" href="https://codepen.io/Izerous/full/MqPpvX">Dropped Items List - Izerous</a>
    </li>
    <li>
        <a target="_blank" href="https://www.reddit.com/r/idleraiders/comments/5xmtts/drop_list_idle_raiders_second_run/">Detailed Drop List (T1-T11) - Meissner</a>
    </li>
    <li>
        <a target="_blank" href="https://docs.google.com/spreadsheets/d/1r8RQOMRrjDaYgfw1_GITR0lGjTrL6Gxz4WZuP3OgfFo/edit?usp=sharing">Century's
            Complete Artifact and Set List (T1-T14) - CenturyV08</a>
    </li>
</ul>