<h2 class="mt-5">Character Build Creator</h2>


<input type="text" class="form-control mt-3" value="{{ generateBuildLink() }}" #buildLink />
<button  [ngxClipboard]="buildLink" mdbBtn type="button" color="primary" mdbWavesEffect>
    <mdb-icon icon="clipboard" class="mr-1"></mdb-icon>Copy Build Url
</button>


<div class="row mt-5">
    <div class="col-6">
        <mdb-accordion [multiple]="true">
            <mdb-accordion-item [collapsed]="false" *ngFor="let raiderClass of raiderClasses">
                <mdb-accordion-item-head>{{ raiderClass }}(s)</mdb-accordion-item-head>
                <mdb-accordion-item-body>
                    <div class="row">
                        <div class="col">Items</div>
                        <div class="col">Skills</div>
                    </div>
                    <div class="row" *ngFor="let raiderClassCount of raidersPerClass[raiderClass]">
                        <div class="col">
                            <div class="item-holder w-100" dragula="{{ raiderClass.toLowerCase() + '-items' }}"
                                [(dragulaModel)]="items[raiderClass][raiderClassCount]">
                                <div class="row" *ngFor="let item of items[raiderClass][raiderClassCount]">
                                    <div class="col-1">
                                        <span class="{{ 'rarity-' + item.rarity.toLowerCase() }}">
                                            <span class="{{ 'sprite-' + item.textureName.toLowerCase() }}">&nbsp;</span>
                                        </span>
                                    </div>
                                    <div class="col">
                                        {{ item.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item-holder w-100" dragula="{{ raiderClass.toLowerCase() + '-skills' }}"
                                [(dragulaModel)]="skills[raiderClass][raiderClassCount]">
                                <div class="row" *ngFor="let skill of skills[raiderClass][raiderClassCount]">
                                    <div class="col-1">
                                        <span class="{{ 'rarity-common' }}">
                                            <span class="{{ 'sprite-' + skill.textureName.toLowerCase() }}">&nbsp;</span>
                                        </span>
                                    </div>
                                    <div class="col">
                                        {{ skill.title }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-accordion-item-body>
            </mdb-accordion-item>
        </mdb-accordion>
    </div>

    <div class="col-6">
        <mdb-tabset [buttonClass]="'classic-tabs tabs-dark'" [contentClass]="'card'" class="classic-tabs">
            <mdb-tab heading="{{ raiderClass }}" *ngFor="let raiderClass of raiderClasses">
                <div class="row">
                    <div class="col-12">
                        <mdb-accordion [multiple]="false">
                            <mdb-accordion-item [collapsed]="true">
                                <mdb-accordion-item-head>Skills</mdb-accordion-item-head>
                                <mdb-accordion-item-body>
                                    <div id="{{ raiderClass + '-inventory-skills' }}" dragula="{{ raiderClass.toLocaleLowerCase() + '-skills' }}"
                                        [(dragulaModel)]="inventory[raiderClass]['skills']">
                                        <div class="row" *ngFor="let item of (inventory[raiderClass]['skills'])">
                                            <div class="col-1">
                                                <span class="{{ 'rarity-common' }}">
                                                    <span class="sprite-size">
                                                        <span class="{{ 'sprite-' + item.textureName.toLowerCase() }}">&nbsp;</span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col">
                                                {{ item.title }}
                                            </div>
                                        </div>
                                    </div>
                                </mdb-accordion-item-body>
                            </mdb-accordion-item>

                            <mdb-accordion-item [collapsed]="true" *ngFor="let raiderTier of raiderTiers">
                                <mdb-accordion-item-head>Tier {{ raiderTier }}</mdb-accordion-item-head>
                                <mdb-accordion-item-body>
                                    <div id="{{ raiderClass + '-inventory-' + raiderTier }}" dragula="{{ raiderClass.toLocaleLowerCase() + '-items' }}"
                                        [(dragulaModel)]="inventory[raiderClass][raiderTier]">
                                        <div class="row" *ngFor="let item of (inventory[raiderClass][raiderTier])">
                                            <div class="col-1">
                                                <span class="{{ 'rarity-' + item.rarity.toLowerCase() }}">
                                                    <span class="sprite-size">
                                                        <span class="{{ 'sprite-' + item.textureName.toLowerCase() }}">&nbsp;</span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col">
                                                {{ item.name }}
                                            </div>
                                        </div>
                                    </div>
                                </mdb-accordion-item-body>
                            </mdb-accordion-item>
                        </mdb-accordion>
                    </div>
                </div>
            </mdb-tab>
        </mdb-tabset>
    </div>
</div>