<header>
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="#">
                <img src="assets/images/idle-raiders-logo-35x35.jpg" /> Idle Raiders: Second Run Wiki
            </a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-light" routerLink="/" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect>
                        Calculators <span class="caret"></span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/calculators/ancient-wisdoms">
                            Ancient Wisdoms
                        </a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Future Calculator</a>
                    </div>
                </li>
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect>
                        Item Database <span class="caret"></span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/item-database/search">
                            Equipment
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" routerLink="/raider-builds/build" mdbWavesEffect>Raider Builds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" routerLink="/links" mdbWavesEffect>Links</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" routerLink="/discord" mdbWavesEffect>Discord</a>
                </li>



            </ul>
            <form class="form-inline waves-light" mdbWavesEffect>
                <div class="md-form mt-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                </div>
            </form>
        </links>
    </mdb-navbar>
</header>



<main role="main" class="container">
    <router-outlet></router-outlet>
</main>

<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <span class="text-muted">
                    This wiki is not affiliated with Idle Raiders or its creators. All images and content belong to
                    Pitforest.de.
                </span>
            </div>
            <div class="col">
                <span class="text-muted">
                    Designed By KB Software, LLC
                </span>
            </div>
        </div>
    </div>
</footer>