<header>
    <!-- Fixed navbar -->
    <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><img src="assets/images/idle-raiders-logo-35x35.jpg" /> Idle Raiders: Second
            Run Wiki</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse btn-group" id="navbarCollapse" mdbDropdown>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a routerLink="/" routerLinkActive="active" class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a mdbDropdownToggle class="dropdown-toggle" (click)="false" href="#">Calculators</a>
                    <div class="dropdown-menu dropdown-primary">
                        <a routerLink="/calculators/ancient-wisdoms" class="dropdown-item" href="#">Ancient Wisdoms</a>
                        <a class="dropdown-item" href="#">Calc 2</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a routerLink="/item-database/search" routerLinkActive="active" class="nav-link" href="#">Item
                        Database</a>
                </li>

                <li class="nav-item active">
                    <a routerLink="/discord" routerLinkActive="active" class="nav-link" href="#">Discord</a>
                </li>
                <li class="nav-item active">
                    <a routerLink="/links" routerLinkActive="active" class="nav-link" href="#">Links</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <div class="btn-group" mdbDropdown>
            <a href="#" (click)="false" mdbDropdownToggle class="nav-link dropdown-toggle">
                Basic dropdown
            </a>

            <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
    </nav> -->
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark">

        <!-- Navbar brand -->
        <mdb-navbar-brand>
            <a class="navbar-brand" href="#">
                <img src="assets/images/idle-raiders-logo-35x35.jpg" /> Idle Raiders: Second Run Wiki
            </a>
        </mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-light" routerLink="/" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect>
                        Calculators <span class="caret"></span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/calculators/ancient-wisdoms">
                            Ancient Wisdoms
                        </a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Future Calculator</a>
                    </div>
                </li>
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect>
                        Item Database <span class="caret"></span>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/item-database/search">
                            Equipment
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" routerLink="/links" mdbWavesEffect>Links</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" routerLink="/discord" mdbWavesEffect>Discord</a>
                </li>



            </ul>
            <!-- Links -->

            <!-- Search form -->
            <form class="form-inline waves-light" mdbWavesEffect>
                <div class="md-form mt-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                </div>
            </form>
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->
</header>



<main role="main" class="container">
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">This wiki is not affiliated with Idle Raiders or its creators. It is created and
            maintained by players.
            All images and content belong to Pitforest.de</span>
    </div>
</footer>