#Force www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^ir2wiki.com [NC]
RewriteRule ^(.*)$ http://www.ir2wiki.com/$1 [L,R=301,NC]

RewriteEngine On
# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html