<article>
    <div class="patch-entry">
        <div class="content">
            <h1 class="mt-5">Idle Radiers: Second Run Changelog:</h1>
            <p>
                These patch notes are copied from the <a href="https://www.pitforest.de/games/idleraiders/changelog2ndrun.php">official
                    website</a>.
            </p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.7.1</h1>
            <p>We released 1.7.1 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed: Texture path of a new item.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, October 13th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.7</h1>
            <p>We released 1.7 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Added: Two new raids, a bunch of new items and cosmetics.</li>
                <li>Added: A Raid Item-Compendium, which shows you, if you got any missing loot in a tier. The
                    compendium is accessible by building the Scout Tower.</li>
                <li>Added: Walls can now be placed.</li>
                <li>Added: Two more miners can be found.</li>
                <li>Overhauled: Archer-type creatures with equipped items like swords, will now throw them.</li>
                <li>Overhauled: Mine workers have their own workflow.</li>
                <li>Overhauled: Some further work to avoid stucked raiders.</li>
                <li>Fixed: Removing of all Notifications with improved performance.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, October 13th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.6.6</h1>
            <p>We released 1.6.6 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed: Penalty could affect raids.</li>
                <li>Fixed: Loot-drop on the first few farm maps wouldn't work.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, September 7th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.6.5</h1>
            <p>We released 1.6.5 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Overhauled: Show the total cost for offline mining in the startup screen.</li>
                <li>Overhauled: Update mining-screen to highlight the button-description text.</li>
                <li>Overhauled: Use post-fixed numbers for crit-texts.</li>
                <li>Overhauled: Simplified Level display.</li>
                <li>Overhauled: Mouseover of the xp-bar.</li>
                <li>Overhauled: Display penalty-icon on farm maps with a penalty. Also reduced the penalty.</li>
                <li>Overhauled: Numbers which get too large, will be shown with exponential notation.</li>
                <li>Added: Cosmetics to some existing items of Tier 12 and Tier 13.</li>
                <li>Added: Notification if the savegame was saved successfully.</li>
                <li>Added: Mouseover info for the cave-building.</li>
                <li>Added: Buying of stacks from traders.</li>
                <li>Fixed: Mining Cave would break if you build more than one mining cave or if you remove them all.</li>
                <li>Fixed: Potential fix for raiders stuck in base map.</li>
                <li>Fixed: Ai bug of red priestesses.</li>
                <li>Fixed: Cleanse Ability would sometimes remove buffs of enemies.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, September 4th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.6.4</h1>
            <p>We released 1.6.4 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Overhauled: Remove Reward-Notice of already cleared farm maps.</li>
                <li>Fixed: Farm Map Progression for some older savegames.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, August 20th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.6.3</h1>
            <p>We released 1.6.3 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Overhauled: Items which are dropped on a farm map will be shown even for older farm map levels.</li>
                <li>Overhauled: Mining time for necessary amount of obsidian reduced.</li>
                <li>Fixed: Recreation of shop-items in the inventory, especially tokens.</li>
                <li>Fixed: Auto-Raiding after a soft-reset.</li>
                <li>Fixed: Right-Clicking on itemstacks in the crafter-ui works again.</li>
                <li>Fixed: Visual effect of a Dawn Fortress Boss was buggy.</li>
                <li>Fixed: Farm-Map rewards won't be dropped again.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, August 18th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.6.2</h1>
            <p>We released 1.6.2 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed: Auto-Raiding after a soft-reset would raid all previously cleared raids.</li>
                <li>Fixed: Reduced the waiting time between two soft-resets to two minutes.</li>
                <li>Fixed: Conversion of max farm map level to new structure if a previous reset was done.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, August 13th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.6.1</h1>
            <p>We released 1.6.1 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed: Releasing one pressed button of the mouse while another one is still pressed + moving of the
                    mouse will lead to an error at any time.</li>
                <li>Fixed: Text of Startup Screen (Raider Administration).</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, August 13th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.6</h1>
            <p>We released 1.6 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Overhauled: Roads can now be placed under a building.</li>
                <li>Overhauled: Accidentally deleted and unused shop-items (like tokens) are recreated when the
                    savegame loads if they do not exist in the inventory.</li>
                <li>Overhauled: Savegames are now smaller. Sadly we needed to remove the total farm monster kill stat.</li>
                <li>Overhauled: Savegames now load faster for raiders with a very high level.</li>
                <li>Overhauled: Increased performance of sprite pool.</li>
                <li>Added: Mining Cave. Hire some miners who will mine obsidian for you. It was fortold that the god of
                    afterlife holds a treasure far beyond the grasps of the mortals.</li>
                <li>Added: StatScreen will now update every second if it is active.</li>
                <li>Added: Burned Out Seal lore description updated.</li>
                <li>Added: Increased the inventory tabs to 10.</li>
                <li>Added: Display the current WAIR Level in the WAIR tooltip.</li>
                <li>Added: Notifications for pause and focused camera modes.</li>
                <li>Fixed: Caching problems with new patches. While the CacheStorage-Capabilities of the Browsers is
                    not widely spread enough, we resort to something similar to the random-query-hack.</li>
                <li>Fixed: HealStreak-Skillbook crashes if you do not have equipped at least one BasicHeal-Skillbook.
                    It will now pay attention to the autohit abilities.</li>
                <li>Fixed: Item duplication when dragging an item over a cosmetics slot.</li>
                <li>Fixed: When a Reach Farm Map Level-Prophecy is fulfilled, it won't be stored as 'completed
                    prophecy'. This makes the savegame smaller.</li>
                <li>Fixed: Camera can be moved with w,a,s,d and arrow-keys when game is paused.</li>
                <li>Fixed: Penguin-ItemSet emperor-choosing bug.</li>
                <li>Fixed: Raid-Counter would be bugged in some cases of activity-switching.</li>
                <li>Fixed: Checking of Item-Flags was error-prone. This will mostly influence the loot of Sanctuary of
                    the Forgotten.</li>
                <li>Fixed: Soft-Resetting is disabled as long as the raid cooldown is still not finished.</li>
                <li>Fixed: Character view glitches of boss-groups could lead to glitching sprites.</li>
                <li>Fixed: Changed class of Triskull from Mage to Archer.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, August 13th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.5.6</h1>
            <p>We released 1.5.6 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed: Kongregate Highscores
                    <!--10-->
                </li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Michael Hamburger, June 10th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.5.5</h1>
            <p>We released 1.5.5 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed: websocket-connections and function-binding.</li>
                <li>Fixed: small grammar changes.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Michael Hamburger, June 04th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.5.4</h1>
            <p>We released 1.5.4 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Added: New Skillbook - Life Steal Missiles!</li>
                <li>Added: New Equipment - The mighty carrot sword!</li>
                <li>Added: Animations for some buildings.</li>
                <li>Fixed: Spawning of baby penguins in the penguin raid won't aim for infinity.</li>
                <li>Fixed: Mercenary leveling - because of reasons the mercenaries were leveled twice per level.</li>
                <li>Fixed: Gift from a Necromancer now uses the correct cosmetic item.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, May 29th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.5.3</h1>
            <p>We released 1.5.3 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed: Typo of the texture-name of the Shipplank Shield.</li>
                <li>Improved: Changed redundant attribute-modifiers of some Tier 14 items.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, April 29th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.5.2</h1>
            <p>We released 1.5.2 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed: Typo of a texture-name.</li>
                <li>Fixed: Clicking of Heads in the Equipment window.</li>
                <li>Fixed: Displacement of Heads and Filter-Label in the inventory ui.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, April 26th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.5.1</h1>
            <p>We released 1.5.1 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed: Added missing loottables to the new raid monsters.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, April 24th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.5</h1>
            <p>We released 1.5 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Added: Two new raids.</li>
                <li>Added: <a href="https://discord.gg/49BCCan" target="_blank">Discord link</a>.</li>
                <li>Fixed: Bug of displaced creature sprites in the game.</li>
                <li>Fixed: Relenting Assault is now stacking.</li>
                <li>Fixed: Export of game log filename.</li>
                <li>Fixed: Dragon and Metal Elemental Golem standup animation.</li>
                <li>Improved: Basic Healing of the priests is now a skillbook. At tier level 4 the Merchant will get an
                    additional Permanent Upgrade which will add the Basic Healing Skill to all priests.</li>
                <li>Improved: Raider-Icons will now be changed according to their look.</li>
                <li>Improved: Startup of savegames with a high raider level.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, April 24th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.4.3</h1>
            <p>We released 1.4.3 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed Auto-Raiding for Tier 13 raids.</li>
                <li>Fixed global loot lists for optional raids.</li>
                <li>Fixed scroll of healing and scroll of brotherhood usability.</li>
                <li>Fixed spawned golem behavior.</li>
                <li>Fixed guardian shield block.</li>
                <li>Fixed experienced Druid HP which was way to low.</li>
                <li>Introduced better readability of numbers. They now got dots.</li>
                <li>Improved skill priority configuration. Now you are able to directly change the priority of every
                    skill while equipping skillbooks in the same manner as with the townhall.</li>
                <li>Improved graveyard toggling.</li>
                <li>Improved procs to also apply after a killing blow.</li>
                <li>Improved Miyaow Hair Style.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, March 13th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.4.2</h1>
            <p>We released 1.4.2 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed Bandit Magic Club Item Attribute.</li>
                <li>Fixed Tier 11 Itemset Description.</li>
                <li>Fixed Black Screen.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, February 1st, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Quick Patch 1.4.1</h1>
            <p>We released 1.4.1 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed tier 13 items. Your savegames should still work.</li>
                <li>Added timer for raid-activity overview.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, January 30th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.4</h1>
            <p>We released 1.4 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Added three new raids.</li>
                <li>Added a bunch of whole new items.</li>
                <li>New Feature: Add and remove whole stacks of items in the crafter ui while pressing alt.</li>
                <li>Fixed Collar of the Botanist - it shouldn't break anymore.</li>
                <li>Fixed item-count shown in the ui overall.</li>
                <li>Fixed the Burning Seal Prophecy.</li>
                <li>Fixed Red Priestess Energy Heal Upgrade.</li>
                <li>Fixed some minor bugs.</li>
            </ul>
            <p></p>
        </div>
        <div class="gravur">Alexander Otte, January 30th, 2018</div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.3.3</h1>
            <p>On December, 8th, we released 1.3.3 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed: Rewards for maps which were previously done, won't be dropped again after a reset.</li>
                <li>Slight improvement of the prophecy ui.</li>
                <li>Bulwark will now let the tanks spawn in front of the other raiders too.</li>
                <li>WAIR-Level added to the highscore-board.</li>
                <li>Some more minor fixes.</li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.3.2</h1>
            <p>On November, 24th, we released 1.3.2 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed some more memory leaks, which also decreased the size of savegames. Some people should notice
                    an increase of the performance overall.</li>
                <li>Fixed some abilities which selected npcs (e. g. the merchant) as enemies.</li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.3.1</h1>
            <p>On November, 21th, we released 1.3.1 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Increased performance of some systems. CPU-Load should be reduced from now on.</li>
                <li>Fixed mage tower again. The problem of not showing up Level 2 and Level 3 skillbooks should be
                    resolved from now on.</li>
                <li>Fixed some memory leaks.</li>
                <li>Increased scaling of the raider selected by the latest item set (from 10 % to 50 %) and added an
                    additional effect if this happens.</li>
                <li>Fixed width-scaling in Combat Meter.</li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.3</h1>
            <p>On November, 10th, we released 1.3 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Added a new special raid, which can be accessed by using the soul of a girl.</li>
                <li>Added a new building: Graveyard. With this building you can toggle a special event.</li>
                <li>The game shouldn't be freezing anymore. There seems to be a bug in the latest Blink-related
                    browsers like Chrome and Yandex, so we worked on a workaround.</li>
                <li>Some more bugfixes.</li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.2</h1>
            <p>On October, 27th, we released 1.2 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Added new raids and new farm maps!</li>
                <li>Added a whole bunch of new items.</li>
                <li>Added a new Mercenary.</li>
                <li>Set start-view of most maps to the entrance.</li>
                <li>Probabilities for loot-drop gets lower on lower farm map levels.</li>
                <li>Fixed some rendering issues.</li>
                <li>Fixed death animations.</li>
                <li>Some more bugfixes.</li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.1.8</h1>
            <p>On October, 6th, we released 1.1.8 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Added a notification on game start which shows the total gain of gold and xp by offline farming.
                </li>
                <li>Fixed witches of raid seat of the coven. </li>
                <li>Added additional check for negative modifiers which also fixes the use of equipment with a high
                    wair level. </li>
                <li>Fixed shown item-count in mouse-over infopopup. </li>
                <li>Fixed timings of all animations in general. This also resolves some issues with cosmetics. </li>
                <li>Some minor not mentionable fixes for the tutorial ui and lootchest ui. </li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.1.7</h1>
            <p>On September, 22th, we released 1.1.7 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed some raider-related attribute modifications. </li>
                <li>Fixed focus-check of the window for disabling graphical effects. </li>
                <li>Fixed some ui-related bugs (e. g. activity sign did not disappear, checkbox of new effect-setting
                    was shown as true by default which is not the case). </li>
                <li>Fixed effects which were not showing up anymore like Magic Missiles, Arrows etc. </li>
                <li>Fixed cooldown-effect in Equipment and Skills window. </li>
                <li>Fixed skillbook levels of new tiers sold by merchant. </li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.1.6</h1>
            <p>On September, 12th, we released 1.1.6 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed Shield Block once and for all. </li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.1.5</h1>
            <p>On September, 11th, we released 1.1.5 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed lava elemental golem of Mountain Refuge. </li>
                <li>Fixed Heal Streak. </li>
                <li>Fixed modifiers of raider-attributes (like Shield Block). </li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.1.4</h1>
            <p>On September, 9th, we released 1.1.4 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed some abilities of raid bosses which (could) led to a game crash. Affected raids were: Witch
                    Woods, Mountain Refuge and Tomb of the Pharao. </li>
                <li>Fixed bug where players couldn't create new games anymore. </li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.1.3</h1>
            <p>On September, 8th, we released 1.1.3 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed HitStreaks and HealStreaks - since introduction of autohit abilities they wouldn't work
                    anymore. </li>
                <li>Fixed Rallying Cry for enemy-usage. </li>
                <li>Fixed and overhauled caps of some stats. The received damage of raiders shouldn't bug anymore. </li>
                <li>Added an additional setting to disable all combat related effects. Check out this setting in the
                    General-section of your options. </li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.1.2</h1>
            <p>On August, 29th, we released 1.1.2 of the game.</p>
            <p>
            </p>
            <ul>
                <li>Fixed some T9-Set related bugs where users were able to exploit Arcane Barrages. </li>
                <li>Fixed Tutorial-Hands which were sometimes hovering in static places. </li>
                <li>Fixed a skill of the vampire-boss which led to an error. </li>
                <li>Improved and fixed combat meter and training facility functionality. </li>
                <li>Fixed runesmith ui. Items can be placed by clicking the left mouse button, while clicking the right
                    mouse button removes one item each time. </li>
                <li>Fixed ui overall. </li>
                <li>Overhauled and fixed ability executions. </li>
                <li>Fixed a critical bug, which led to corrupted savegames while saving. </li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.1.1</h1>
            <p>On August, 25th, we released 1.1 of the game.</p>
            <p>
            </p>
            <ul>
                <li> Fixed some crucial bugs like loading of some savegames and overhauled the Holy Warrior Mercenary.
                </li>
            </ul>
            <p></p>
        </div>
    </div>
</article>

<article>
    <div class="patch-entry">
        <div class="content">
            <h1>Patch 1.1</h1>
            <p>On July, 29th, we released 1.1 of the game.</p>
            <p>
            </p>
            <ul>
                <li>We released 1.1 of the game and improved our services and accessibility of the servers overall.</li>
            </ul>
            <p></p>
        </div>
    </div>
</article>